
@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<br />

<h4>List Of Notes:</h4>
@foreach (var note in Model.Noteslist)
{

    <p>@note.Rating : @note.Thenote</p>

}

<br />

<p>@Model.Error</p><br />